include README.md
recursive-include octoprint_CooldownNotification/templates *
recursive-include octoprint_CooldownNotification/translations *
recursive-include octoprint_CooldownNotification/static *
